.left-container, .right-container {
  width: 100%;
  height: 100vh;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #B64042;  
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F9;
}

.container-row {
  width: 100% !important;
  flex-wrap: wrap;
}

.left_title, .right_title {
  font-size: 1.5em;
  text-align: center;
  padding: 1em 1em 0 1em;
}

.left_title {
  color: #fff;
}

.right_title {
  width: 100%;
  -ms-overflow-style: none;
  overflow: auto;
  color: #B64042;
}

.right_title::-webkit-scrollbar {
   width: 0 !important;
   display: none;
}

.sorry-text {
  padding: 1em;
  color: #B64042;
}

.nomatch img {
  align-self: center;
  width: 3em;
}

.nomatch {
  margin-top: 1em;
  display: flex;
  align-self: center;
  flex-direction: column;
}