.formContainer{
    text-align: center;
    width: auto;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
    border-color: darkgrey;
    border-style: solid;
    border-radius: 10;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #B64042; 
}

.hide{
    visibility: hidden;
}

.show{
    visibility: visible;
}

.containTags{
    margin-left: 10px;
    margin-right: 10px;
}

.text-row {
    display: flex;
    padding: 1em;
}

.text-row .label {
    color: #333 !important;
    margin: 0 .5em 0em 0.5em;
    align-self: center;
}

.form-row {
    display: flex;
}

#client, #service_provider {
    margin: 1em;
}